img {
    height: 50px;
    width: 50px;
}

#dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#dashboard a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0;
    margin: 20px 30px 20px 20px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
}

#dashboard #Find {
    padding: 0 30px;
    margin-left: 20%;
}

#dashboard #Find:hover {
    color: darkgreen;
}

#dashboard #Sign {
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 0;
    margin-top: 10px;
    letter-spacing: 3px;
    padding: 10px 30px;
}

#dashboard #Sign:hover {
    background-color: lightgray;
}

#dashboard #Join {
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;
    margin-top: 10px;
    margin-left: 0;
    color: white;
    padding: 10px 30px;
}

#dashboard #Join:hover {
    opacity: 0.75;
}

#dashboard #Logo {
    padding: 0;
    margin: 0;
}

.Mother {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Drinks {
    background-color: rgb(32, 79, 40);
    color: white;
    position: sticky;
    top: 0;
    height: 600px;
    width: 12%;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px 5px 20px 20px;
}

.Drinks h1 {
    font-size: 20px;
}

.Drinks h2 {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 30%;
}

.Drinks ul {
    list-style-type: none;
    padding-left: 0;
}

.Drinks ul li {
    margin: 10px 0;
    padding-left: 0;
}

.Drinks ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: left;
    padding-left: 0;
}

.Menu-blank {
    font-size: 10px;
    color: gray;
    height: 40px;
    margin-bottom: 30px;
}

.Categories {
    font-size: 20px;
    font-weight: 900;
}

.Categories img {
    width: 150px;
    height: 150px;
}

#HotCoffee1 {
    width: 150px;
    height: 100px;
}

#dashboard2 {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    margin-top: 0;
    width: 20%;
}

#dashboard2 a {
    margin-right: 0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: 200;
    font-size: 12px;
    text-transform: capitalize;
    font-family: SoDoSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

#dashboard2 #Menu {
    margin-left: 90px;
}

#dashboard2 #Menu:active {
    text-decoration: underline;
}

.nav-background {
    background-color: lightgray;
}
